<div class="header">
    <nav class="first__navbar">
        <div class="logos">
            <img src="assets/jordan.svg" alt="jordan">
            <img src="assets/snkrs.svg" alt="jordan">
        </div>
        <div class="firstBar">
            <ul class="ul__firstBar">
                <li><a href="#">Acessibilidade</a></li><span>|</span>
                <li><a href="#">Nike Jornaul</a></li><span>|</span>
                <li><a href="#">Ajuda</a></li><span>|</span>
                <li><a href="#">Junte-se a nós</a></li><span>|</span>
                <li><a href="#">Entrar</a></li>
            </ul>
        </div>
    </nav>
    <nav class="second__navbar">
        <div class="logo">
            <img src="assets/logo.svg" alt="Nike Logo" srcset="">
        </div>
        <div class="navList">
            <ul class="ulList">
                <li><a href="#">Lançamentos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Masculino</a></li>
                <li><a href="#">Feminino</a></li>
                <li><a href="#">Infantil</a></li>
                <li><a href="#">SNKRS</a></li>
            </ul>
        </div>
        <div class="inputSearch">
            <input type="text" name="" id="inputSearchId" placeholder="Buscar">

        </div>
    </nav>
</div>